<!DOCTYPE html>
<html lang="tr">
  <head>
    <title><%= website.name %></title>
  
    <%- include('./partials/head'); %>
  </head>
  
  <body>
    <nav>
      <%- include('./partials/nav'); %>
    </nav>
      
    <div class="main">
      <img draggable="false" src="<%= website.iconURL %>">
      
      <div>
        <h1 style="font-size: 45px; margin: 0;">
          <%= website.name %>
        </h1>
        
        <p>
          <%= website.description %>
        </p>
        
        <div class="buttons">
          <a href="<%= website.inviteLink %>">
            <button>Sunucuna Ekle</button>
          </a>
          
          <a href="<%= website.serverLink %>">
            <button>Discord Sunucusu</button>
          </a>
        </div>
      </div>
    </div>

    <style>
      h1 {
        font-size: 1.5em;
        margin: 10px 30px;
      }

      p {
        width: 400px;
        color: #bbb;
        font-size: 14px;
        margin: 0px 0 20px;
      }
      
      .main {
        color: #fff;
        margin: 0 auto;
        padding: 110px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      
      .main img {
        width: 125px;
        height: 125px;
        margin: 10px auto;
      }

      .buttons {
        display: flex;
        justify-content: center;
      }
    
      button {
        color: #fff;
        font-family: 'Poppins', sans-serif;
        background: <%= website.colors.primary %>;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        transition: .2s;
        user-select: none;
      }
      
      .buttons a:first-child {
        margin-right: 10px;
      }
      
      button:hover {
        background: <%= website.colors.second %>;
        cursor: pointer;
      }
      
      button:active {
        background: <%= website.colors.third %>;
        cursor: pointer;
      }

      p {
        width: 500px;
        color: #bbb;
        font-size: 14px;
        margin: 0px 0 20px;
      }

      @media (max-width: 700px) {
        h1 {
          text-align: center;
        }
        
        .main {
          padding: 80px 0 0;
        }
        
        .main p {
          width: auto;
          margin: 0 30px 20px;
        }
      }
    </style>

    <footer>
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>